@model List<ItransitionMVC.Models.Collection.CustomCollection>;
<div class="container-fluid">
    <h1>@Locolize.GetKey("My colletions")</h1>
    <div>
        <a class="btn btn-success mb-2" asp-controller="CustomCollection" asp-action="CreateCollection">@Locolize.GetKey("New collection")</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">@Locolize.GetKey("Image")</th>
                <th scope="col">@Locolize.GetKey("Type Collection")</th>
                <th scope="col">@Locolize.GetKey("Description")</th>
                <th scope="col">@Locolize.GetKey("Name")</th>
                <th scope="col">@Locolize.GetKey("Edit")</th>
                <th scope="col">@Locolize.GetKey("Delete")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="card" style="width: 10rem;">
                            <img src="@item.ImageUrl" class="card-img-top" alt="...">
                        </div>
                    </td>
                    <td>
                        @Locolize.GetKey($"{item.typeCollection}")
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="CustomCollection" asp-action="ItemsCollection" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="CustomCollection" asp-action="UpdateCollection" asp-route-id="@item.Id">@Locolize.GetKey("Edit")</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="CustomCollection" asp-action="Delete" asp-route-id="@item.Id">@Locolize.GetKey("Delete")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

