@model ItransitionMVC.Models.Item.CustomCollectionItem;

<div class="container-fluid">
    <form route="#" method="post" asp-controller="CustomCollection" asp-action="CreateCollection" asp-route-userid="@User.Identity.Name" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm">
                <label asp-for="Name">@Locolize.GetKey("Name")</label><br />
                <input type="text" class="form-control w-50 mt-2" required  asp-for="Name" name="name" />
                <span asp-validation-for="Name" />
                <label asp-for="Description">@Locolize.GetKey("Description")</label>
                <input type="text" class="form-control w-50 mt-2" required  asp-for="Description" name="description" />
                <span asp-validation-for="Description" />
                <select id="typeCollection" class="form-select w-25  mt-2" name="typeCollection">
                    <option value="Books" selected="selected">@Locolize.GetKey("Books")</option>
                    <option value="Movies">@Locolize.GetKey("Movies")</option>
                    <option value="Games">@Locolize.GetKey("Games")</option>
                    <option value="Foods">@Locolize.GetKey("Foods")</option>
                </select>
                <div class="my-dropzone">
                    <input class="dropzone mt-2" type="file" name="file" required/>
                </div>
            </div>
            <div class="col-sm">
                <select id="selector" class="form-select w-50  mt-2">
                    <option value="" selected disabled hidden>@Locolize.GetKey("Optional field")</option>
                    <option value="elementName">@Locolize.GetKey("Text")</option>
                    <option value="intName">@Locolize.GetKey("Numeric")</option>
                    <option value="boolName">@Locolize.GetKey("Logic")</option>
                    <option value="dateName">@Locolize.GetKey("Date")</option>
                </select>
                
                <div id="inp"></div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-2">@Locolize.GetKey("Submit")</button>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<script>
    let inp = document.getElementById('inp')
    $("#selector").on("change", () => {
        let input = document.createElement("input");
        input.name = $("#selector option:selected").val();
        input.placeholder = $("#selector option:selected").text();
        inp.appendChild(input);
    })
</script>