<div class="container-fluid">
    <form method="post" asp-controller="CustomCollection" asp-action="UpdateCollection" enctype="multipart/form-data">
        <label>@Locolize.GetKey("Name")</label>
        <input type="text" class="form-control w-50 mt-2" required name="name"/>
        <label>@Locolize.GetKey("Description")</label>
        <input type="text" class="form-control w-50 mt-2" required name="description"/>
        <select id="typeCollection" class="form-select w-50 mt-2" required name="typeCollection">
            <option value="Books" selected="selected">@Locolize.GetKey("Books")</option>
            <option value="Movies">@Locolize.GetKey("Movies")</option>
            <option value="Games">@Locolize.GetKey("Games")</option>
            <option value="Foods">@Locolize.GetKey("Foods")</option>
        </select>
        <div>
            <button type="submit" class="btn btn-primary mt-2">@Locolize.GetKey("Submit")</button>
        </div>
    </form>
</div>
