@model IEnumerable<ItransitionMVC.Models.CustomUser>
@using Microsoft.AspNetCore.Identity;

<table class="table">
    <tr><th>Email</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                @if(user.LockoutEnd is null)
                {
                    <p>@Locolize.GetKey("Not blocked")</p>
                }
                else
                {
                    <p>@user.LockoutEnd</p>
                }
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id">@Locolize.GetKey("Delete")</a>
            </td>
            <td>
                <a class="btn btn-sm btn-secondary" asp-action="Block" asp-route-id="@user.Id">@Locolize.GetKey("Block")</a>
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="UnBlock" asp-route-id="@user.Id">@Locolize.GetKey("UnBlock")</a>
            </td>
        </tr>
    }
</table>