@model List<ItransitionMVC.Models.Item.CustomCollectionItem>
<div class="row">
    @if (Model.Count() > 0)
    {
        <div class="text-center col-12 row m-3">
            <h1 class="col-11 text-center">
                @Locolize.GetKey("Search")
            </h1>
        </div>
        <div class="container">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="col-2">
                            <div class="">@Locolize.GetKey("Item")</div>
                        </th>
                        <th scope="col" class="col-2">
                            <div class="">@Locolize.GetKey("Collection")</div>
                        </th>
                        <th scope="col">
                            <div class="">@Locolize.GetKey("Tags")</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                <a class="btn btn-primary" asp-controller="Home" asp-action="ItemView" asp-route-id="@item.Id">@item.Name</a>
                            </th>
                            <th>
                                <a class="btn btn-primary" asp-controller="Home" asp-action="CustomCollectionItems" asp-route-id="@item.CollectionId">@item.Collection.Name</a>
                            </th>
                            <td class="align-middle">
                                <ul>
                                    @foreach (var tag in item.ItemTags)
                                    {
                                        <li>
                                            <a class="nav-link" asp-controller="Search" asp-action="Search" asp-route-searchText="@tag.Name">#@tag.Name</a>
                                        </li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-center col-12 row m-3">
            <h1 class="col-11 text-center">
                @Locolize.GetKey("Nothing")
            </h1>
        </div>
    }
</div>